.title{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #3d8fc8;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 102%;
    left: -1px;
    right: -1px;
}
.autocomplete-items div {
  padding: 5px 8px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
  font-size: 18px;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}